<h2 mat-dialog-title>Editar Tarea</h2>
<mat-dialog-content class="flex flex-col gap-4">
  <form class="flex flex-col gap-4">
    <mat-form-field appearance="outline">
      <mat-label>Estado</mat-label>
      <mat-select [(ngModel)]="editedTask.state" name="state" required>
        <mat-option *ngFor="let state of taskStates" [value]="state.value">
          {{ state.label }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Descripción</mat-label>
      <input matInput [(ngModel)]="editedTask.description" name="description" placeholder="Ingrese descripción" required>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">Cancelar</button>
  <button mat-raised-button color="primary" (click)="onSave()">Guardar</button>
</mat-dialog-actions>